.product__title {
  font-size: font-size(other-m);
  line-height: line-height(lh-24);
}


@media (min-width: breakpoint(tablet)) {
  .product__title {
    font-size: font-size(other-xm);
    line-height: line-height(lh-24);
  }
}

@media (min-width: breakpoint(desktop)) {
  .product__title {
    font-size: font-size(other-xm);
    line-height: line-height(lh-24);
  }
}
