.product-hot__mark {
  font-size: font-size(other-xs);
  line-height: line-height(lh-20);
  font-weight: font-weight(bold);
  font-style: normal;
  color: $seafoam-blue;
}

@media (min-width: breakpoint(tablet)) {
  .product-hot__mark {
    line-height: line-height(lh-17);
  }
}

@media (min-width: breakpoint(desktop)) {
  .product-hot__mark {
    line-height: line-height(lh-17);
  }
}
