.product-hot__link {
  font-size: font-size(other-xs);
  line-height: line-height(lh-20);
  font-weight: font-weight(bold);
  font-style: normal;
  color: $greyish-brown;
  text-transform: uppercase;
}
