.main-nav__link {
  font-size: font-size(other-xs);
  font-weight: font-weight(bold);
  line-height: line-height(lh-24);
  color: $black;
}

@media (min-width: breakpoint(tablet)) {
  .main-nav-fisrt__link {
    font-size: font-size(other-xxs);
  }
}

@media (min-width: breakpoint(desktop)) {
  .main-nav-fisrt__link {
    font-size: font-size(other-xs);
  }
}
