.about-us__container {
  display: flex;
  flex-direction: column;
}

.about-us__title {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 27px;
  font-size: 25px;
  font-weight: 700;
  color: $black;
}

.about-us__item {
  position: relative;
  margin: 0;
  margin-bottom: 29px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: $black;
}

.about-us__item--eco {
  width: 196px;
  padding-top: 56px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 8px;
    display: block;
    width: 31.972px;
    height: 37.301px;
    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
  }
}

.about-us__item--scandi {
  width: 200px;
  padding-top: 55px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 46.575px;
    height: 27.332px;
    background-image: url("../img/icon-feature-money.svg");
    background-repeat: no-repeat;
  }
}

.about-us__item--like {
  width: 180px;
  padding-top: 55px;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 7px;
    display: block;
    width: 33.05px;
    height: 27.857px;
    background-image: url("../img/icon-feature-heart.svg");
    background-repeat: no-repeat;
  }
}

.about-us__item--kniting {
  width: 210px;
  padding-top: 53px;

  &::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 3px;
    display: block;
    width: 34.373px;
    height: 34.373px;
    background-image: url("../img/icon-feature-ball.svg");
    background-repeat: no-repeat;
  }
}

.about-us__item--support {
  width: 250px;
  padding-top: 53px;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -6px;
    display: block;
    width: 54.156px;
    height: 23.183px;
    background-image: url("../img/icon-feature-rocket.svg");
    background-repeat: no-repeat;
  }
}

.about-us__item--present {
  width: 250px;
  padding-top: 53px;

  &::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 3px;
    display: block;
    width: 32.666px;
    height: 32.486px;
    background-image: url("../img/icon-feature-gift.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-screen) {
  .about-us__container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about-us__title {
    margin-bottom: 49px;
    padding-top: 50px;
    font-size: 43px;
    line-height: 50px;
    color: $black;
  }

  .about-us__item {
    margin-bottom: 55px;
    font-size: 20px;
    line-height: 22px;
  }

  .about-us__item--eco {
    width: 230px;
    margin-right: 105px;
    order: 1;
  }

  .about-us__item--scandi {
    width: 235px;
    margin-right: 100px;
    order: 3;
  }

  .about-us__item--like {
    width: 235px;
    margin-right: 100px;
    order: 5;
  }

  .about-us__item--kniting {
    width: 250px;
    order: 2;
  }

  .about-us__item--support {
    width: 310px;
    order: 4;
  }

  .about-us__item--present {
    order: 6;
  }
}

@media (min-width: $desktop-screen) {
  .about-us__container {
    width: 768px;
    margin: 0 auto;
    padding-left: 36px;
  }

  .about-us__title {
    margin-left: 171px;
    padding-top: 59px;
    font-size: 53px;
    line-height: 57px;
    color: $black;
  }

  .about-us__item--eco {
    margin-right: 118px;
  }

  .about-us__item--scandi {
    margin-right: 113px;
  }

  .about-us__item--like {
    margin-right: 113px;
  }
}
