.footer {
  background-color: $gray;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo-link {
  display: none;
}

.footer__social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 200px;
  padding: 27px 0 16px;
}

.footer__social-link {
  display: block;
  outline: none;
  padding-right: 21px;
  padding-left: 19px;

  &:hover .footer__logo-instagram,
  &:hover .footer__logo-facebook,
  &:hover .footer__logo-twitter,
  &:focus .footer__logo-instagram,
  &:focus .footer__logo-facebook,
  &:focus .footer__logo-twitter {
    fill: $seafoam-dark-blue-hover;
  }

  &:active .footer__logo-instagram,
  &:active .footer__logo-facebook,
  &:active .footer__logo-twitter {
    opacity: 0.3;
  }
}

.footer__logo-instagram {
  width: 21.769px;
  height: 21.334px;
  outline: none;
}


.footer__logo-facebook {
  width: 14.962px;
  height: 27.718px;
  outline: none;
}

.footer__logo-twitter {
  width: 23.494px;
  height: 20.168px;
  outline: none;
}

.footer__developed {
  display: flex;
  align-items: center;
  padding: 19px 39px 25px;
  border-top: 1px solid #e5e5e5;
}

.footer__developed-link {
  display: flex;
  align-items: center;
  outline: none;

  &:hover .footer__developed-logo,
  &:focus .footer__developed-logo {
    fill: $seafoam-dark-blue-hover;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__developed-text {
  margin-right: 27px;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  color: $black;
}

.footer__developed-logo {
  fill: $seafoam-blue;
  margin-top: 2px;
}

@media (min-width: $tablet-screen) {
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 45px 50px;
  }

  .footer__logo-link {
    display: block;
    outline: none;

    &:hover .footer__logo,
    &:focus .footer__logo {
      fill: $seafoam-dark-blue-hover;
    }

    &:active .footer__logo {
      opacity: 0.3;
    }
  }

  .footer__social {
    margin-top: 12px;
    margin-left: 80px;
    padding: 0;
  }

  .footer__developed {
    margin-top: 2px;
    padding: 0;
    border-top: none;
  }
}
