.form {
  margin-bottom: 53px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__legend {
  position: relative;
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: $seafoam-blue;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    width: 76%;
    height: 1px;
    background-color: $seafoam-blue;
  }
}

.form__label {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: $black;
}

.form-type__accessory {
  position: relative;
  display: block;
  margin-top: 34px;
  padding-left: 63px;

  &::before {
    position: absolute;
    content: "";
    top: -9px;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $greyish-brown;
  }

  &::after {
    position: absolute;
    display: none;
    content: "";
    top: 3px;
    left: 12px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $seafoam-blue;
  }
}

.form-type__kids {
  position: relative;
  display: block;
  margin-top: 24px;
  margin-bottom: 44px;
  padding-left: 63px;

  &::before {
    position: absolute;
    content: "";
    top: -9px;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $greyish-brown;
  }

  &::after {
    position: absolute;
    display: none;
    content: "";
    top: 3px;
    left: 12px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $seafoam-blue;
  }
}

.form-type__input:checked + .form__label::after {
  display: block;
}

.form__color-container {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
}

.form-color__label {
  position: relative;
  padding-left: 62px;
  margin-bottom: 43px;

  &::before {
    position: absolute;
    content: "";
    top: -12px;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid $greyish-brown;
  }

  &::after {
    position: absolute;
    display: none;
    content: "";
    top: 0;
    left: 7px;
    width: 33px;
    height: 22px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-size: 25px 18px;
  }
}

.form-color__input:checked + .form__label::after {
  display: block;
}

.form-name__label,
.form-surname__label,
.form-last__label {
  display: block;
}

.form-name__label {
  margin-top: 28px;
}

.form-name__input,
.form-surname__input,
.form-last__input {
  width: 100%;
  margin-bottom: 21px;
  padding: 16px 16px 16px 0;
  font-size: 17px;
  border: none;
  border-bottom: 2px solid $black;
  outline: none;
}

.form-phone__container {
  margin-top: 8px;
  margin-bottom: 32px;
}

.form-phone__label {
  position: relative;
  display: block;
  text-transform: uppercase;
  color: $seafoam-blue;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    width: 76%;
    height: 1px;
    background-color: $seafoam-blue;
  }
}

.form-email__label {
  position: relative;
  display: block;
  text-transform: uppercase;
  color: $seafoam-blue;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    width: 69%;
    height: 1px;
    background-color: $seafoam-blue;
  }
}

.form-phone__input {
  width: 100%;
  margin-top: 5px;
  padding: 16px 16px 16px 0;
  font-size: 17px;
  border: none;
  border-bottom: 2px solid $black;
  outline: none;
}

.form-email__container {
  margin-bottom: 31px;
}

.form-email__input {
  width: 100%;
  margin-top: 5px;
  padding: 16px 16px 16px 0;
  font-size: 17px;
  border: none;
  border-bottom: 2px solid $black;
  outline: none;
}

.form__textarea {
  display: block;
  margin-top: 25px;
  padding-top: 13px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  min-height: 142px;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid $black;
}


.form__required-field {
  display: block;
  margin-top: 16px;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 16px;
}

.form__submit {
  display: block;
  padding: 14px 10px 14px 8px;
  width: 100%;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: $greyish-brown;
  background-color: $white;
  border: 2px solid $greyish-brown;
}

@media (min-width: $tablet-screen) {
  .form__label {
    font-size: 19px;
  }

  .form__required-field {
    font-size: 17px;
    line-height: 30px;
  }

  .form__fieldset--bg {
    background-color: $gray;
  }
}
