.main-nav__list {
  @include list-reset;
  display: none;
  flex-direction: column;
}

.main-nav__delivery {
  display: none;
}

.main-nav__item {
  padding: 28px 0 27px 76px;
  border-bottom: 1px solid $white-grey;
}

.main-nav__link {
  display: block;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: $black;
  outline: none;

  &:hover,
  &:focus {
    color: $black-60;
  }

  &:active {
    color: $black-30;
  }

  &:hover .main-nav__search-icon,
  &:focus .main-nav__search-icon,
  &:hover .main-nav__basket-icon,
  &:focus .main-nav__basket-icon {
    fill: $seafoam-blue;
    opacity: 1;
  }

  &:active .main-nav__search-icon,
  &:active .main-nav__basket-icon {
    fill: $seafoam-blue;
    opacity: 0.3;
  }
}

.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-nav-fisrt {
  border-top: 1px solid $white-grey;
}

.main-nav__logo-link {
  display: block;
  align-self: center;
  padding-top: 20px;
  padding-bottom: 15px;
  cursor: pointer;
  outline: none;

  &:hover .main-nav__logo-img,
  &:focus .main-nav__logo-img {
    opacity: 0.6;
  }

  &:active .main-nav__logo-img {
    opacity: 0.3;
  }
}

.main-nav__toggle--hidden {
  display: none;
}

.main-nav__toggle {
  position: absolute;
  top: 31px;
  right: 30px;
  width: 19.958px;
  height: 14px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("../img/icon-menu-open.svg");
}

.main-nav__toggle--close {
  width: 20.514px;
  height: 20.512px;
  background-image: url("../img/icon-menu-close.svg");
}

.main-nav__list--open {
  display: flex;
}

.main-nav-second {
  display: none;
}

.main-nav-third__item {
  position: relative;
}

.main-nav__search-icon,
.main-nav__basket-icon {
  position: absolute;
  top: 50%;
  left: 32px;
  opacity: 0.2;
  transform: translateY(-50%);
}

@media (min-width: $tablet-screen) {
  .main-nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-nav__item {
    padding: 0;
    border: none;
  }

  .main-nav__logo-link {
    margin-right: auto;
    padding: 22px 0 11px 0;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__delivery {
    position: absolute;
    right: 0;
    bottom: -42px;
    display: block;
    font-size: 15px;
    line-height: 24px;
  }

  .main-nav__search-icon {
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
  }

  .main-nav-third__item-search {
    padding-right: 38px;
    padding-left: 44px;
  }

  .main-nav-fisrt {
    position: absolute;
    left: 0;
    bottom: -42px;
    padding: 0;
    order: 2;
    border: none;
  }

  .main-nav-fisrt__link {
    padding: 0;
    margin-right: 37px;
    font-size: 15px;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    box-shadow: none;
  }

  .main-nav-second {
    display: none;
  }

  .main-nav__item-text {
    font-size: 0;
  }

  .main-nav-third__item-basket {
    padding-top: 31px;
    padding-left: 83px;
    padding-bottom: 33px;
  }

  .main-nav-third__item {
    display: flex;
    align-items: center;
    border-left: 1px solid $white-grey;
  }
}

@media (min-width: $desktop-screen) {
  .main-nav {
    justify-content: space-between;
  }

  .main-nav__logo-link {
    align-self: center;
    order: 1;
    margin-left: -27px;
    margin-right: 0;
    margin-top: 6px;
    padding: 0;
  }

  .main-nav-second {
    position: absolute;
    left: 0;
    bottom: -42px;
    display: flex;
    padding: 0;
  }

  .main-nav-second__link {
    font-size: 15px;
    line-height: 24px;
    padding: 0;
    margin-right: 62px;
  }

  .main-nav-fisrt :nth-child(2) {
    margin-left: 36px;
    padding-left: 34px;
    border-left: 1px solid $white-grey;
  }

  .main-nav-fisrt__item {
    padding: 31px 0 33px 0;
  }

  .main-nav-fisrt__link {
    margin: 0;
    font-size: 17px;
  }

  .main-nav-fisrt {
    position: static;
    order: 0;
  }

  .main-nav__list-third {
    order: 2;
  }
}
