.map {
  position: relative;
  margin-bottom: 42px;
  font-size: 0;
  height: 454px;
  overflow: hidden;
}

.map__img {
  position: relative;
  font-size: 0;
  line-height: 0;
}

.map__container {
  width: 320px;
  height: 454px;
  margin: 0 auto;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    display: block;
    top: 42%;
    left: 53%;
    width: 66px;
    height: 100.801px;
    background-image: url("../img/icon-map-pin.svg");
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
  }
}

.ymaps-2-1-73-map {
  position: absolute;
  top: 0;
  left: 0;
}


@media (min-width: $tablet-screen) {
  .map {
    height: 457px;
    margin-bottom: 56px;
  }

  .map__container {
    width: 768px;
    height: 457px;
    margin: 0 auto;
    position: relative;

    &::after {
      top: 41%;
      left: 52%;
    }
  }
}

@media (min-width: $desktop-screen) {
  .map {
    position: absolute;
    top: 66px;
    right: 50px;
  }

  .map__container {
    width: 525px;
    margin: 0 auto;
    position: relative;

    &::after {
      top: 41%;
      left: 52%;
    }
  }
}
