.product {
  margin-bottom: 30px;
  border: 1px solid $white-grey;
}

.product__link-title {
  outline: none;

  &:hover .product__title,
  &:focus .product__title {
    color: $black-60;
  }

  &:active .product__title {
    color: $black-30;
  }
}

.product__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: $black;
}

.product__container {
  display: flex;
  flex-direction: column;
  padding: 18px 27px 29px 27px;
}

.product__link {
  font-size: 0;
  line-height: 0;
}

.product__link-img {
  outline: none;

  &:hover + .product__container,
  &:focus + .product__container {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }
}

.product__price-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid $white-grey;
}

.product__property {
  margin: 0;
  margin-bottom: 19px;
  font-size: 13px;
}

.product__price {
  margin: 0;
  font-weight: 700;
  line-height: 24px;
  color: $black;
}

.product__link-bay {
  outline: none;

  &:hover .product__link-icon,
  &:focus .product__link-icon {
    fill: $seafoam-blue;
    opacity: 1;
  }

  &:active .product__link-icon {
    opacity: 0.3;
  }
}

.product__link-icon {
  width: 20.294px;
  height: 18.849px;
  opacity: 0.2;
}

@media (min-width: $tablet-screen) {
  .product {
    display: flex;
    margin-bottom: 53px;
  }

  .product__container {
    padding-top: 26px;
    padding-right: 31px;
    padding-bottom: 27px;
    width: 50%;
  }

  .product__price-container {
    margin-top: auto;
    padding-top: 22px;
  }

  .product__title {
    font-size: 20px;
  }

  .product__property {
    font-size: 15px;
  }

  .product__price {
    margin-left: 3px;
    font-size: 17px;
  }
}

@media (min-width: $desktop-screen) {
  .product {
    flex-direction: column;
    flex-basis: 315px;
    margin-right: 52px;
    margin-bottom: 57px;
  }

  .product:nth-child(3n+1) {
    margin-right: 0;
  }

  .product__container {
    width: auto;
    flex-grow: 1;
    padding: 27px 32px 26px 24px;
  }

  .product__property {
    margin-bottom: 14px;
  }

  .product__price {
    margin: 0;
  }
}
