.header__delivery {
  display: none;
}

@media (min-width: breakpoint(tablet)) {
  .header__delivery {
    display: block;
    font-size: font-size(other-xxs);
    font-weight: font-weight(regular);
    line-height: line-height(lh-24);
  }
}

@media (min-width: breakpoint(desktop)) {
  .header__delivery {
    display: block;
  }
}
