html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: rgba(68, 68, 68, 1);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
