//indents
$indents-margin: 0;
$indents-padding: 0;

//breakpoints
$screen-m: 320px !default;
$screen-t: 768px !default;
$screen-d: 1150px !default;

$breakpoints: (
  "mobile" : $screen-m,
  "tablet": $screen-t,
  "desktop": $screen-d
);

//font style
$font-base: "Open Sans", "Arial", sans-serif;

$font-size--xxxs: 13px !default;
$font-size--xxs: 15px !default;
$font-size--xs: 17px !default;
$font-size--s: 18px !default;
$font-size--m: 19px !default;
$font-size--xm: 20px !default;
$font-size--xxm: 25px !default;
$font-size--xl: 27px !default;
$font-size--xxl: 43px !default;
$font-size--xxxl: 53px !default;


$font-sizes: (
  base-m: $font-size--xxs,
  base-t: $font-size--xs,
  base-d: $font-size--xs,
  h1-m: $font-size--xl,
  h2-m: $font-size--xxm,
  h1-t: $font-size--xxl,
  h2-t: $font-size--xxl,
  h1-d: $font-size--xxxl,
  h2-d: $font-size--xxxl,
  other-xxxs: $font-size--xxxs,
  other-xxs: $font-size--xxs,
  other-xs: $font-size--xs,
  other-s: $font-size--s,
  other-m: $font-size--m,
  other-xm: $font-size--xm
);

$font-weights: (
  regular: 400,
  bold: 700,
);

$line-heights: (
  lh-17: 17px,
  lh-18: 18px,
  lh-20: 20px,
  lh-22: 22px,
  lh-24: 24px,
  lh-30: 30px,
  lh-50: 50px,
  lh-57: 57px,
);

//colors
$black: hsl(0, 0%, 0%) !default;
$black-60: hsla(0, 0%, 0%, 0.6) !default;
$black-30: hsla(0, 0%, 0%, 0.3) !default;
$gray: hsl(0, 0%, 95%) !default;
$greyish-brown: hsl(0, 0%, 27%) !default;
$greyish-brown-30: hsla(0, 0%, 27%, 0.3) !default;
$white: hsl(0, 0%, 100%) !default;
$white-30: hsla(0, 0%, 100%, 0.3) !default;
$white-grey: hsl(0, 0%, 93%) !default;
$seafoam-blue: hsl(168, 54%, 60%) !default;
$seafoam-dark-blue: hsl(171, 48%, 55%) !default;
$seafoam-blue-hover: hsl(168, 60%, 59%) !default;
$seafoam-dark-blue-hover: hsl(171, 50%, 52%) !default;
