//breakpoints
$mobile-screen: 320px;
$tablet-screen: 768px;
$desktop-screen: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//colors
$black: #000000;
$black-60: rgba(0, 0, 0, 0.6);
$black-30: rgba(0, 0, 0, 0.3);
$gray: #f2f2f2;
$greyish-brown: #444444;
$greyish-brown-10: rgba(68, 68, 68, 0.1);
$greyish-brown-30: rgba(68, 68, 68, 0.3);
$white: #ffffff;
$white-30: rgba(255, 255, 255, 0.3);
$white-90: rgba(255, 255, 255, 0.9);
$white-grey: #ededed;
$seafoam-blue: #63d1bb;
$seafoam-dark-blue: #56c3b2;
$seafoam-blue-hover: #59d5bc;
$seafoam-dark-blue-hover: #46c1ae;
